@import "reset";
@import "variables/global";
@import "themes/night";
@import "themes/day";

.app {
    font: var(--font-m);
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;

    background: var(--bg-color);
    color: var(--primary-color);


    min-height: 100vh;
}