.app.day {
    --bg-color: #f5c1a8;
    --inverted-bg-color: #141424;

    --primary-color: #500202;
    --secondary-color: #3a0132;
    --inverted-primary-color: #edf586;
    --inverted-secondary-color: #b4ca8a;
}